@media  (max-width: 739px) {
    .page-left,
    .page-right {
        padding: 24px;
    }
    .icon-search {
        font-size: 28px;
    }
    .search {
        margin-bottom: 20px;
    }
    .show-more,
    .close {
        display: block;
    }
    .page-right {
        display: none;
    }
    .app.show .page-right{
        position: fixed;
        width: 100%;
        height: 100%;
        display: block;
        animation: slideUp .5s ease;
        z-index: 999;
        overflow-y: auto;
        background-color: #fff;
    }
    .app.show .close {
        color: black;
        background-color: #fff;
    }
    .row {
        width: 100%;
        flex: unset;
    }
    .close {
        right: 14px;
    }

    @keyframes slideUp {
        from {
            opacity: 0;
            transform: translateY(100%);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
}